name: Deploy to cloudtype
on:
  push:
    branches:
      - dev
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Deploy
        uses: cloudtype-github-actions/deploy@v1
        with:
          token: ${{ secrets.CLOUDTYPE_TOKEN }}
          project: quizlystudy/backend-dev
          stage: main
          yaml: |
            name: backend
            app: java@17
            options:
              ports: "8080"
              env:
                - name: DB_URL
                  secret: db_url
                - name: DB_USERNAME
                  secret: db_username
                - name: DB_PASSWORD
                  secret: db_password
                - name: NAVER_CLIENT_ID
                  secret: naver_client_id
                - name: NAVER_CLIENT_SECRET
                  secret: naver_client_secret
                - name: NAVER_REDIRECT_URI
                  secret: naver_redirect_uri
                - name: KAKAO_CLIENT_ID
                  secret: kakao_client_id
                - name: KAKAO_REDIRECT_URI
                  secret: kakao_redirect_uri
                - name: SPRING_PATH
                  secret: spring_path
                - name: SWAGGER_PATH
                  secret: swagger_path
                - name: CLOVA_KEY
                  secret: clova_key
                - name: OCR_SECRET
                  secret: ocr_secret
                - name: JWT_SECRET
                  secret: jwt_secret
                - name: JWT_ACCESS_TOKEN_EXPIRATION
                  secret: jwt_access_token_expiration
                - name: JWT_REFRESH_TOKEN_EXPIRATION
                  secret: jwt_refresh_token_expiration
                - name: OBJECT_BUCKET
                  secret: object_bucket
                - name: NCP_OBJECT_ACCESS_KEY
                  secret: ncp_object_access_key
                - name: NCP_OBJECT_SECRET_KEY
                  secret: ncp_object_secret_key
                - name: SPRING_PROFILES_ACTIVE
                  value: dev
                - name: SPRING_SERVER_FORWARD_HEADERS_STRATEGY
                  secret: SPRING_SERVER_FORWARD_HEADERS_STRATEGY
                - name: FRONT_REDIRECT_URL
                  secret: front_url
              buildenv: []
            context:
              git:
                url: git@github.com:${{ github.repository }}.git
                ref: ${{ github.ref }}